@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainBody{
    background-image: url(../assets/img/fondo.jpg);
}

.todosProductosBody{
    background-image: url(../assets/img/fondo.jpg);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.972);
    padding: 20px;
}

header a{
    font-family: "Alata", sans-serif;
    color: #19a7ce;
    text-decoration: none;
}
header a h1{
    font-size: 80px;
    padding:10px 10px 0px 10px;
}

header .inicioCarrito{
    display: flex;
    justify-content: end;
}

header .inicio a{
    background-color: #146C94;
    font-family: "Alata", sans-serif;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

header .carrito{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 5px;
    padding-top: 2px;
    margin-left: 15px;
    margin-right: 10px;
    background-color: #146C94;
}

header .carrito .carritoContador{
    font-family: "Alata", sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}
header .carrito img{
    width: 21px;
}

header .navegacion{
    list-style: none;
    padding-top: 65px;
}

header .navegacion li{
    display: inline-block;
    padding: 0px 20px;
}

header .navegacion a{
    font-family: "Alata", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #19a7ce;
}

.masPopular{
    font-family: "Alata", sans-serif;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 0px;
    background-color: rgb(0, 0, 0, 0.878);
    color: #19a7ce;
}

.mangas{
    font-family: "Alata", sans-serif;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.878);
    justify-content: space-around;
    text-align: center;
    color: #19a7ce;
    font-size: 24px;
}

.mangas2{
    font-family: "Alata", sans-serif;
    padding-bottom: 80px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.878);
    justify-content: space-around;
    text-align: center;
    color: #19a7ce;
    font-size: 24px;
}

.mangas3{
    font-family: "Alata", sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, 0.878);
    justify-content: space-around;
    text-align:center;
    color: #19a7ce;
    font-size: 24px;
    padding-bottom: 50px;
}

.mangas button,
.mangas2 button,
.mangas3 button{
    padding: 6px;
    margin: 20px;
    border-radius: 7px;
    color: white;
    font-family: "Alata",sans-serif;
    background-color: #146C94;
    border-color: #146C94 ;
}

.mangas button:hover,
.mangas2 button:hover,
.mangas3 button:hover{
    padding: 6px 10px 6px 10px;
    border-color: gold;
}

.imgManga{
    width: 200px;
    margin: 10px 50px 10px 50px;
    height: 300px;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    object-fit: cover;
}

.imgManga:hover{
    box-shadow: #146C94 0px 5px 15px;
}

.todosProductos{
    background-color: rgba(0, 0, 0, 0.878);
    font-family: "Alata", sans-serif;
    color: #19a7ce;
    padding: 30px;
    display: flex;
    justify-content: end;
}
.todosProductos a{
    text-decoration: none;
    font-family: "Alata", sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: #146C94;
    border-radius: 10px;
    padding: 8px;
}

footer{
    color: #19a7ce;
    background-color: rgba(0, 0, 0, 0.972);
}
footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
}
footer ul li{
    padding: 10px;
}

footer ul li a{
    text-decoration: none;
    color: #19a7ce;
    font-family: "Alata", sans-serif;
}

footer p{
    color: #146C94;
}

/*INICIO SESION STYLE*/
.bodyInicio{
    background-image: url(../assets/img/fondo2.jpg);
    font-family: "Alata", sans-serif;
}

.formulario{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:400px;
    background: #146C94;
    border-radius: 10px;
}

.formulario h1{
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #19a7ce;
}

.formulario form{
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
}

form .username,
form .contrasena{
    position: relative;
    border-bottom: 2px solid #19a7ce;
    margin: 30px 0;
    padding: 9px;
}

.username input,
.contrasena input{
    font-family: "Alata", sans-serif;
    width: 100%;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username input::placeholder,
.contrasena input::placeholder{
    color: rgba(255, 255, 255, 0.338);
}

.recordar{
    margin: -5px 0 20px 5px;
    color:  white;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #19a7ce;
    font-family: "Alata", sans-serif;
    border-radius: 25px;
    border-color: #19a7ce;
    font-size: 18px;
    color:#ffffff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #0c3c52;
    transition: 0.5s;
}

.registrarse{
    margin:30px 0;
    text-align: center;
    font-size: 16px;
}

.volver img{
    width: 25px;
}

/*TODOS LOS PRODUCTOS STYLE*/
.buscador{
    background-color: #000000e5 ;
    padding: 20px 0px 20px 70px;
}
span{
    width: 100px;
}

span input{
    width: 350px;
    height: 50px;
    background-image: url(../assets/img/lupa.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    border: none;
    font-family: "Alata", sans-serif;
    padding-left: 40px;
    font-size: 25px;
    border-radius: 15px;
}


.imgMangaTP{
    width: 200px;
    margin: 10px 50px 10px 50px;
    height: 300px;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    object-fit: cover;
}

/*CONTACTO STYLE*/
.mainContacto{
    display: flex;
    justify-content: space-between;
    margin: 125px;
}
.contactoBody{
    background-image: url(../assets/img/fondo2.jpg);
}
.contactanos{
    background: #146C94;
    width:400px;
    font-family: "Alata", sans-serif;
    color: #ffffff;
    border-radius: 40px;
}

.contactanos h1{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.contactanos div{
    padding-top: 70px;
    padding-left: 15px;
    font-size: 20px;
}

.contactanos div a{
    text-decoration: none;
    color: white;
}

.contactanos img{
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 14px;
    
}

.contactoVolver img{
    width: 50px;
}

.contactanos p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.mapa iframe{
    width: 800px;
    height: 640px;
    padding: 15px;
    position: relative;
    top: 10px;
    border: #146C94;
    background-color: #146C94;
}
/*AYUDA STYLE*/
.BodyAyuda{
    background-image: url(../assets/img/fondo2.jpg);
}
.ayudaBody{
    font-family: "Alata", sans-serif;
    padding:100px 300px 100px 300px;
}

.ayudaBody h1{
    color: #19a7ce;
}

.ayudaSection{
    background-color: #146C94;
    padding: 20px;
    border-radius: 30px;
}

.ayudaSection form p{
    padding-top: 20px;
}

.ayudaSection form label{
    text-decoration: underline;
}

.ayudaSection form textarea,
.ayudaSection form input,
.ayudaSection form button{
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #19a7ce;
}

.ayudaSection form button{
    background: #19a7ce ;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 15px;
    font-family: "Alata", sans-serif;
    font-size: 16px;
}

.ayudaSection form button:hover{
    cursor: pointer;
    padding: 17px;
    background-color: #1977ce;
    border-color:#1977ce ;
    color: white;
    transition: 0.5s;
}

.ayudaSection a{
    position: relative;
    top: 10px;
}

.ayudaSection a img{
    width: 20px;
}

.footerAyuda{
    background-color: rgba(0, 0, 0, 0.654);
}

@media (max-width: 1500xp) {
    .imgMangaTP{
        padding-left: 10px;
        width: 50%;
    }
}


@media (max-width: 1024px){
    .mangas,
    .mangas2,
    .mangas3{
        flex-direction: column;
    }

    span input{
        object-fit: cover;
        width: 90%;
        height: 100%;
        padding-right:0px;
    }
}

@media (max-width: 480px){
    header{
        flex-direction: column;
    }

    .tituloManga h1{
        font-size: 50px;
    }

}











