footer{
    color: $color-principal;
    background-color: rgba(0, 0, 0, 0.972);
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: $color-principal;
                font-family: "Alata", sans-serif;
            }
        }
    }
    p{
        color: $color-secundario;
    }
} 

.footerAyuda{
    background-color: rgba(0, 0, 0, 0.654);
}
