@media (max-width: 375px){
    .contactanos{
        margin-left: 6%;
    }

    .ayudaMain{
        padding: 20px 45px 20px 45px;
    }

    .formulario{
        top: 200px;
        width: 300px;
        form{
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
}