@media (max-width: 320px){
    .tituloManga h1{
        font-size: 45px;
    }
    .carrusel{
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.878);
        display: flex;
        
    }
    .card{
        img{
            width: 200px;
            height: 300px;
        }
    }

    .formulario{
        position:relative;
        top: 200px;
        width: 300px;
    }

    .contactanos{
        margin-left: 6%;
        width: 300px;
        height: 500px;
    }

    .contactanos div{
        padding-top: 40px;
        padding-left: 15px;
        font-size: 15px;
    }

    .ayudaMain{
        padding: 15px 30px 15px 30px;
    }
}

