@media (max-width: 480px){
    header{
        flex-direction: column;
    }

    .tituloManga h1{
        font-size: 50px;
        text-align: center;
    }

    header .inicioCarrito{
        justify-content: center;
        padding-top: 10px;
    }

    .navegacion ul {
        display: flex;
        padding-bottom: 10px ;
        justify-content: center;
    }
    .carrusel{
        margin-left: 0px;
        margin-right: 0px;
        
    }

    .ofertas{
        margin-left: 0px;
        margin-right: 0px;
    }
    .mangas1{
        margin-left: 0px;
        margin-right: 0px;
    }
    .mangas{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .mangas2{
        margin-left: 0px;
        margin-right: 0px;
    }

    .formulario{
        position:relative;
        top: 200px;
        width: 370px;
    }

    .contactanos{
        margin-left: 15%;
    }

    .mapa iframe{
        width: 0%;
        height: 0%;
        padding: 0px;
        border: #ffffff00;
        background-color: #ffffff00;
    }

    .todosProductos{
        justify-content: center;
        padding: 0px;
        padding-bottom: 20px;

    }

    .ayudaMain{
        padding: 25px 60px 25px 60px;
    }

    .ayudaMain h2{
        font-size: 27px;
        text-align: center;
    }

}